<div data-controller='delayed-form'>
  <div class='d-flex align-items-center' data-delayed-form-target='spinner'>
    <strong>Espera 3 segundos para comentar...</strong>
    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
  </div>

  <%= form_with model: [message.room, message], class: 'input-group d-none', data: { 'delayed-form-target': 'form' } do |f| %>
    <%= f.text_field :content, class: 'form-control', data: { 'delayed-form-target': 'input' } %>
    <%= f.button class: 'btn btn-sm btn-secondary' do %>
      <i class="bi bi-send"></i>
    <% end %>  
  <% end %>
</div>
