<% cache message do %>
  <%= tag.div id: dom_id(message), class: 'm-2 px-2 border rounded bg-light' do %>
    <div class='d-flex justify-content-between'>
      <strong>
        <%= message_user_label(message) %>
      </strong>
      <small><%= l message.created_at, format: :short %></small>
    </div>

    <div class='d-flex justify-content-between'>
      <p class='text-break'>
        <%= message.content %>
      </p>
      <%= button_to [:upvote, message.room, message], class: 'btn btn-sm btn-outline-secondary' do %>
        <i class="bi bi-hand-thumbs-up"></i>
        <span class="badge rounded-pill bg-danger">
          <%= message.votes %>
        </span>
      <% end %>
    </div>  
  <% end %>
<% end %>
