<%# Agrega elemento message a listado de messages del room %>
<%= turbo_stream.append :messages, @message %>

<%# Remplaza elemento room %>
<%= turbo_stream.replace @message.room, @message.room %>

<%# Remplaza formulario de nuevo mensaje %>
<%= turbo_stream.update :new_message do %>
  <%= render partial: 'messages/form', locals: { message: @message.room.messages.new } %>
<% end %>
