<% cache room do %>
  <%= tag.div id: dom_id(room), class: 'p-3 border-bottom position-relative', data: { 'rooms-target': 'room', order: room.messages.last&.id } do %>
    <div class='d-flex justify-content-between'>
      <strong>
        <%= link_to room.name, room, class: 'stretched-link' %>
      </strong>
      <small>
        <%= l room.messages.last&.created_at, format: :short, default: '-' %>
      </small>
    </div>

    <div class='fw-light text-truncate'>
      <i><%= message_user_label(room.messages.last) %></i>
      <%= room.messages.last&.content %>
    </div>
  <% end %>
<% end %>
