<div class='h-100 d-flex' data-controller='rooms'>
  <%= turbo_stream_from :all_rooms %>

  <%= turbo_frame_tag :rooms, class: 'w-25 border-end', target: :room_messages_pane do %>
    <%= render @rooms %>
  <% end %>

  <%= turbo_frame_tag :room_messages_pane, class: 'w-75' %>
</div>