<div class="fixed-top bg-info p-1 shadow">
  Estas viendo los mensajes de <%= @room.name %>
</div>

<%= turbo_frame_tag :room_messages_pane, class: 'h-100' do %>
  <% cache [@room, :messages] do %>
    <%= tag.div class: 'h-100 d-flex flex-column justify-content-between py-1', data: { 'rooms-target': 'messagesPane', room: dom_id(@room) } do %>
      <%= turbo_stream_from @room %>

      <div class='d-flex flex-column-reverse overflow-auto'>
        <%= turbo_frame_tag :messages do %>
          <%= render @room.messages %>
        <% end %>
      </div>

      <%= turbo_frame_tag :new_message, class: 'border-top p-2' do %>
        <%= render partial: 'messages/form', locals: { message: @room.messages.new } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
